/* GENRAL */
@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}
body {
    font-family: 'Raleway' , serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}


/* NAV */ 
.reserviaLogo {
 max-width: 100px;
 height: auto;
 margin: 20px 20px 20px 50px;
}
.Menu {
    float: right;
    padding: 20px;
    margin: 20px 110px 0 0;
    text-decoration: none;
    color: #0065FC;
}
.Menu:hover {
    color: black;
}
#signUp {
    font-weight: bold;
}
.navText , .underNavText {
    margin: 0px 0 20px 50px;
    padding-bottom: 0px;
}
.underNavText {
    font-size: 13px;
}
.posIcon {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 50px;
    height: 40px;
    width: 50px;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: #DEEBFF;
    cursor: pointer;
}
.posIcon:active {
    color: #0065FC;
}
.research {
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #DEEBFF;
    outline: none;
}
.buttonSearch {
    background-color: #0065FC;
    border-color:  #0065FC ;
    color: #DEEBFF;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
.buttonSearch:active {
    background-color: royalblue ;
}

#form {
    display:flex ;
}

#filters {
    display: flex;
    margin: 20px 0 0 50px;
}
.filterTitle {
    margin: 10px 0px 0px 0px;
    font-weight: bold;
}
.filterButton {
    margin: 5px;
    padding: 0px 15px 0px 15px;
    height: 35px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    outline: none;
}
.filterButton:active {
    transform:translateY(2px)
}
.iconFilter {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 25px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.filter {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
    border: 2px solid #DEEBFF;
    border-radius: 25px;
    transition: all 0.3s ease-in 0s;
}
.filter:hover {
    background-color: #DEEBFF;
}
#infoTextConteneur {
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 50px;
}
.infoIcon {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    height: 30px;
    width: 30px;
    border: 1px solid #DEEBFF;
    border-radius: 25px;
}
.infoText {
    margin: 0 0 0 50px;
}
/* HEBERGEMENT */
#firstSection {
    display: flex;
}

#hosting, #popular  {
    background-color: #DEEBFF;
    margin: 0 0 0 50px;
    border-radius: 20px;
}
#hosting {
    max-width: 1200px;
    max-height: 1000px;
}
.hostingTitle {
    margin: 0 0 0 50px;
}

.hostingImg {
    height: 200px;
    width: 300px;
    border-radius: 20px 20px 0 0;
}
.hostingFrame {
    padding: 0.5rem;
    margin: 0 30px 30px 0;
    background-color: white;
    width: fit-content;
    border-radius: 20px;
}
.hostingImgBackground {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 50px 50px;
}
.hostingIcons {
    display: flex;
}
.hostingIcon {
    color: grey;
}
.hostingIcon:hover {
    color: #0065FC;
} 
.more {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 0 0 0 50px;

}
/* POPULAIRE */

#popular {
    max-width: 600px;
    max-height: 1000px;
}

.popularTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px 20px 50px;
}
.popularImg {
    height: 160px;
    width: 160px;
    border-radius: 20px;
    object-fit: cover;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 10px;
}
.popularFrame {
    display: flex;
    padding: 0.5rem;
    margin: 0 50px 50px 50px;
    background-color: white;
    border-radius: 20px;
    
}
.popularContainer {
 display: flex;
 flex-direction: column;
}
/* ACTIVITY */

.activityTitle {
    margin: 0 0 20px 50px;
}

.activityName {
    margin: 0 0 0 50px;
    font-weight: bold;
}

.activityImgBackground {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 50px;
}
.activityImgBig {
    height:300px;
    width: 315px;
    border-radius: 20px;
}
.activityImg {
    height: 200px;
    width: 315px;
    border-radius: 20px 20px 0 0;
}
.activityFrame {
    margin: 0 50px 50px 0;
    background-color: white;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #DEEBFF;
}
.activityImgFrioul {
    height: 150px;
    width: 315px;
    border-radius: 20px 20px 0 0;
}
/* ABOUT */
#about {
    background-color: #DEEBFF;
    display: flex;
    justify-content: flex-start;
}
.aboutLeft, .aboutCenter, .aboutRight {
    margin: 0 200px 0 50px;
}

/* RESPONSIVE MOBILE */

@media screen and (max-width: 320px) {
    
    body 
    {
        width: 320px;
    }
    /* Nav Responsive */
    nav 
    {
        display: flex;
        flex-wrap: wrap;
        max-width: 320px ;
        
    }
    .reserviaLogo
    {
        max-width: 100px;
        height: auto;
        margin: 0 80px 0 20px;
    }
    .Menu 
    {
        font-size: 15px;
        margin: 0 40px 0 0;
    }
    .conteneurMenuOne 
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .conteneurMenuTwo 
    {
        display: flex;
        flex-direction: row-reverse;
    }
    .navText 
    {
        font-size: 20px;
        margin: 0 0 0 20px;
    }
    .underNavText 
    {
        font-size: 14px;
        margin: 20px;
    }
    .posIcon
    {
        margin: 0 0 0 20px;
        
        width: 40px;
    }
    .buttonSearch
    {
        width: 40px;
        border-radius: 10px;
        /* retirer le texte */
    }
    #filters
    {
        margin: 25px 0 0 0;
        display: flex;
        flex-direction: column;
    }
    #filtersConteneur 
    {
        display: flex;
        
        flex-wrap: wrap;
    }
    .filterTitle
    {
        margin: 0 0 0 20px;
    }
    .filter 
    { 
        max-width: fit-content;
        margin: 10px;
    }
    .filterButton
    {
       height: 25px;
       font-size: 15px;
    padding:  0 10px 0 10px;
    }
        /* partie filtre a corriger et finir */
    #infoTextConteneur , .infoText
    {
        margin: 10px 0 0px 20px;
    }
    /* Popular Responsive*/
    #firstSection
    {
        display: flex;
        flex-wrap: wrap-reverse;
        
    }
    #popular
    {
        margin: 0px;
        border-radius: 0px;
    }
    .popularImgBackground
    {
        max-width: 320px;
    }
    .popularFrame 
    {
        margin: 0 20px 20px 20px;
    }
    .popularImg
    {
        height: 180px;
        width: 200px;
    }
}