/* GENRAL */
@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}
body {
    font-family: 'Raleway' , serif;
    margin: 0 40px 0 40px;
    
}
@media (max-width: 900px) {
    body 
    {
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }
}
@media (min-width: 1375px ) /*desktop*/ {
    .headerDesktop 
    {
        display: flex;
    }
    .headerMobile
    {
        display: none;
    }
    .Menu
    {
        margin-right: 50px;
        border-top: 3px solid transparent;
    }
    .Menu:hover {
        color: black;
        border-top: 3px solid #0065FC ;
    }
    .searchText
    {
        display: flex;
    }
    .searchIcon
    {
        display: none;
    }
}
@media (min-width: 900px) and (max-width: 1375px) /* laptops version */  {
    .activityImgBig 
    {
        height: 300px;
        width: 210px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .activityImg 
    {
        height: 110px;
        width: 245px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .activityImgFrioul
    {
        height: 110px;
        width: 245px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .activityName
    {
        font-size: 14px;
    }
    .activityFrame
    {
        margin: 0 5px 0 0;
    }
}
    

@media (max-width: 900px) /*mobile*/ {
    .headerDesktop 
    {
        display: none;
    }
    .headerMobile
    {
        display: inline;
        width: 100%;
    }
    
    .Menu 
    {
        margin: 0px;
        font-size: 15px;
        flex-grow: 1;
        border-bottom: 3px solid #F2F2F2;
    }
    .Menu:hover
    {
        color: #0065FC;
        border-bottom: 3px solid #0065FC ;
    }
    .searchText
    {
        display: none;
    }
    .searchIcon
    {
        display: inline;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
/* NAV */ 
header {
    display: flex;
    justify-content: space-between;
}
.conteneurMenuTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.reserviaLogo {
 max-width: 100px;
 height: auto;
 margin: 20px 20px 20px 0px;
}
.Menu {
    padding: 20px;
    text-decoration: none;
    color: black;
}

.conteneurMenuOne {
    display: flex;
    justify-content: flex-end;
}
#signUp {
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    color:#0065FC;
}
.navText , .underNavText {
    margin: 0px 0 20px 0;
    padding-bottom: 0px;
}
.underNavText {
    font-size: 13px;
}
.posIcon {
    display:flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 50px;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    cursor: pointer;
}
.posIcon:active {
    color: #0065FC;
}
.research {
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #DEEBFF;
    outline: none;
}
.buttonSearch {
    background-color: #0065FC;
    border-color:  #0065FC ;
    color: #DEEBFF;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
.buttonSearch:active {
    background-color: royalblue ;
}

#form {
    display:flex ;
}

#filters {
    display: flex;
    margin: 20px 0 0 0;
}
.filterTitle {
    margin: 10px 0px 0px 0px;
    font-weight: bold;
}
.filterButton {
    margin: 5px;
    padding: 0px 15px 0px 15px;
    height: 35px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    outline: none;
}
.filterButton:active {
    transform:translateY(2px)
}
.iconFilter {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 25px;
    color: #0065FC;
    background-color: #DEEBFF;
}
.filter {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    transition: all 0.3s ease-in 0s;
}
#filtersConteneur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter:hover {
    background-color: #DEEBFF;
}
#infoTextConteneur {
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 0;
}
.infoIcon {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    height: 30px;
    width: 30px;
    border: 1px solid #DEEBFF;
    border-radius: 25px;
}
.infoText {
    margin: 0 0 0 50px;
}
/* HEBERGEMENT */
#firstSection {
    display: flex;
}

#hosting, #popular  {
    background-color: #F2F2F2;
    
    border-radius: 20px;
}
#hosting {
    width: fit-content;
    margin: 0 40px 0 0;
}
.hostingTitle {
    margin: 40px 0 0 30px;
    font-size: 20px;
}

.hostingImg {
    height: 125px;
    width: 235px;
    border-radius: 20px 20px 0 0;
}
.hostingFrame {
    padding: 5px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border-radius: 20px;
}
.hostingFrame:active {
    transform: translateY(2px);
}
.hostingImgBackground {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: flex-start;
    margin: 0 15px 0 15px ;
}
.hostingIcons {
    display: flex;
    
    padding-bottom: 10px;
}
.hostingIcon {
    color: grey;
}
.hostingIconColor {
    color: #0065FC;
} 
.hostingConteneur > h4 {
    margin: 0px;
    
}
.hostingConteneur > p {
    margin: 5px 0 5px 0;
}
.hostingConteneur {
    margin: 5px 10px 0 10px;
}
.more {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 0 0 0 50px;
}

/* POPULAIRE */

#popular {
    width: fit-content;
}

.popularTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px ;
}
.popularImg {
    height: 135px;
    width: 125px;
    flex-shrink: 0;
    border-radius: 20px; 
    object-fit: cover;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 20px;
}

.popularFrame {
    display: flex;
    padding: 5px;
    margin: 0 35px 35px 35px;
    background-color: white;
    border-radius: 20px;
    width: 340px;
}
.popularContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 30px;
}
.popularContainer > p {
    margin: 5px 0 0 0;
    font-size: 14px;
}
.popularDescription {
    margin: 10px 0 0 0;
}
/* ACTIVITY */

.activityTitle {
    margin: 0 0 20px 0px;
}

.activityName {
    font-weight: bold;
}
.activityFrame > h4 {
    font-size: 17px;
    margin-left: 20px;
}
.activityImgBackground {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-around;
}
.activityImgBig {
    height:390px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.activityImg {
    height: 165px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.activityFrame {
    margin: 0 45px 0 0;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #DEEBFF;
}
.activityFrame:active {
    transform: translateY(2px)
}
.activityImgFrioul {
    height: 115px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
/* ABOUT */
#about {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    margin: 0 -40px 0 -40px;
    padding: 40px;
}
.aboutLeft, .aboutCenter, .aboutRight {
    width: 33%;
}
@media (max-width: 900px) {
    #about 
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 22px;
    }
    .aboutLeft, .aboutCenter, .aboutRight 
    {
        width: 100%;
    }
}

/* RESPONSIVE MOBILE */



@media (max-width: 900px) { 

    /* Nav Responsive */
    nav 
    {
        display: flex;
        flex-wrap: wrap;
    }
    .reserviaLogo
    {
        width: 90px;
        height: 45px;
        margin: 0 80px 0 20px;
    }
    .conteneurMenuOne 
    {
        margin-bottom: 25px;
        text-align: center;
    }
    
    .navText 
    {
        font-size: 23px;
        margin: 0 20px 0 20px;
    }
    .underNavText 
    {
        font-size: 14px;
        margin: 10px 20px 20px 20px;
    }
    .posIcon
    {
        margin: 0 0 0 20px;
        width: 50px;
        height: 50px;
    }
    .buttonSearch
    {
        width: 50px;
        border-radius: 15px;
        position: relative;
        right: 15px;
    }
    .research
    {
        max-width: 250px;
        width: auto;
        height: 50px;
    }
    #filters
    {
        margin: 25px 0 0 0;
        display: flex;
        flex-direction: column;
    }
    #filtersConteneur 
    {
        display: flex;
        flex-wrap: wrap;
        
    }
    .filterTitle
    {
        margin: 0 0 0 20px;
    }
    .filter 
    { 
        max-width: fit-content;
        margin: 10px;
    }
    .filterButton
    {
       height: 25px;
       font-size: 15px;
    padding:  0 10px 0 10px;
    }
       
    #infoTextConteneur , .infoText
    {
        margin: 10px 0 15px 20px;
    }
    /* Popular Responsive*/
    #firstSection
    {
        display: flex;
        flex-wrap: wrap-reverse;
        width: 100%;
    }
    #popular
    {
        margin: 0px;
        border-radius: 0px;
        width: 100%;
    }
    .popularFrame 
    {
        margin: 0 0 20px 20px;
        max-width: 900px;
        width: 90%;
        box-shadow: 1px 1px 10px 2px rgb(187 187 187 / 60%);
        max-height: 120px;
        min-height: 120px;
        padding: 3px;
    }
    .popularImg
    {
        max-width: 120px;
        min-width: 120px;
        max-height: 120px;
        min-height: 120px;
        background-size: cover;
    }
    .popularContainer
    {
        max-height: 130px;
    }
    .popularTitle
    {
        margin-left: 25px;
        
        font-size: 18px;
    }
    
    .popularDescription
    {
        font-size: 14px;
        margin: 10px 0 0px 0;
    }
    #hosting 
    {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        background-color: white;
    }
    .hostingImgBackground
    {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: 20px;
    
    }
    .hostingFrame
    {
        margin: 0 0 20px 0px;
        box-shadow: 2px 2px 20px #DEEBFF;
    }
    .hostingTitle
    {
        margin: 0 0 0 20px;
    }
    .hostingImg
    {
        height: 125px;
        width: 100%;
        object-fit: cover;
    }
    .hostingIcons
    {
        font-size: 0.85em;
        padding-left: 0px;
    }
    .more
    {
        margin: 0 0 0 25px;
        font-size: 18px;
    }
    .activityTitle
    {
        margin-left: 20px;
        margin-top: 45px;
        font-size: 19px;
    }
    .activityImgBackground {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: 20px;
    }
    .activityImgBig, .activityImgFrioul, .activityImg
    {
        height: 125px;
        width: 275px;
        object-fit: cover;
        width: 100%;
    }
    .activityFrame
    {
        margin-right: 0px;
        margin-bottom: 30px;
        width: 90%;
    }
}